@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Source+Sans+3&display=swap');

/* Box Model Hack */
* {
    -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background: black;
    font-family: Archivo Black, sans-serif;
    font-size: 2vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width:auto;
}

h1 {
    color: rgba(255, 255, 255, 0.89);
    font-size: 12vw;
    padding: 1%;;
    margin-top: 2%;;
    text-shadow:  0 0 30px #9900008a, 0 0 100px #ff00008e, 0 0 30px #9900008a, 0 0 50px #ff00008e;
    transition: ease-in;
    margin-bottom: 0;
}

h2 {
    color: rgba(255, 255, 255, 0.89);
    font-size: 4vw;
    padding: 0 0 0 2%;
    text-align: left;
    text-shadow:  0 0 3px #9900008a, 0 0 10px #ff00008e, 0 0 3px #9900008a, 0 0 5px #ff00008e;
    transition: ease-in;
    margin-bottom: 0;
}

h3 {
    color: rgba(212, 3, 3, 0.74);
    font-size: 3vw;
    padding: 0 0 0 2%;
    text-align: left;
    transition: ease-in;
    margin: 0;
}

h4 {
    color: rgba(212, 3, 3, 0.74);
    font-size: 2vw;
    padding: 0 0 0 20px;
    text-align: right;
    transition: ease-in;
    margin: 0;
}

ul li a {
    color: rgba(255, 255, 255, 0.89);
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

ul li a:hover {
    color: rgb(194, 2, 2);
    font-size: 1em;
    text-decoration: none;
    opacity: .75;
    transition: ease-in .2s;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

.list {
    margin: 0 auto;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
}

header {
    padding-top: 2%;
    width: 100%;
    justify-content: center;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-header li {
    display: flex;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
}

.title {
    opacity: .6;
}

.title:hover {
    opacity: 1;
}

.album {
    padding-bottom: 50px;
    width: 100%;
    padding-left: 10%;
}

.player {
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 40%;
    display: inline-block;
    text-align: center;
}

.release section {
    display: inline-block;
    width: 40%;
    text-align: center;
}

#release {
    text-align: center;
    font-size: 2rem;
    padding: 1%;
}

img {
    padding: 1%;
}

form {
    font-family: Archivo Black, sans-serif;
    color: rgba(212, 3, 3, 0.74);
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 3%;
}

form input, form textarea {
    font-family: Archivo Black, sans-serif;
    color: rgba(212, 3, 3, 0.74);
    font-size: 1.5em;
    display: inline-block;
    width: 50%;
    background-color: rgb(58, 58, 58);
    border: none;
}

form label {
    font-size: 1.5em;
}

form input {
    width: 100%;
}

form textarea {
    height: 200px;
    width: 100%;
}

#about {
    width: 25%;
    display: flex;
    justify-content: center;
    padding: 5% 0 2% 0;
}

.description {
    font-size: 1.2em;
    margin: 0;
    padding: 0 0 5% 0;
}

.btn {
    color: rgba(212, 3, 3, 0.74);
    opacity: .6;
    outline: none;
    border: none;
    background-color: black;
    display: block;
    width: 100%;
    font-size: 3vw;
    padding: 0 0 0 20px;
    text-align: center;
    transition: ease-in;
    margin: 0;
    font-family: Archivo Black, sans-serif;
}

.btn:hover {
    opacity: 1;
    transition: ease-in .2s;
}

#title, #release {
    text-align: center;
}

#tracklist {
    padding-top: 5%;
    padding-bottom: 10%;
}

.album {
    text-align: center;
    padding-bottom: 0;
}

.art {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

#links {
    width: 30%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#links a {
    width: 20%;
    padding:2%;
}

.social {
    width: 100%;
    opacity: .4;
}

.social:hover {
    opacity: 1;
    transition: ease-in .2s;
}

.control {
    background-color: transparent;
    width: 5%;
    border: none;
    opacity: .6;
}

.control:hover {
    opacity: 1;
}

 #progress-bar-container {
    position: relative;
    width: 80%;
    height: 5px;
    background-color: rgba(90, 1, 1, 0.74);
    margin: 10px auto auto auto;
}

#progress {
    height: 100%;
    width: 0;
    background-color: rgba(212, 3, 3, 0.74);
    box-shadow:  0 20px 30px #9900008a, 0 3px 10px #ff00008e, 0 2px 3px #9900008a, 0 0 5px #ff00008e;
}

#current-song {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -90%);
    color: rgba(255, 255, 255, 0.89);
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

#current-song.fade-in {
    opacity: 1;
}


#controls {
    padding-top: 1%;
}

#play-controls {
    text-align: center;
}


@media screen and (max-width: 801px) {
    #links a {
        width:80%;
        padding: 5%;
    }

    #links {
        width: 40%;
        margin-bottom: 10%;
    }

    #list * {
        font-size: 6em;
        margin-bottom: 10%;
    }

    ul li a {
        font-size: 2.2em;
    }
    ul li a:hover {
        font-size: 2.2em;
    }

    ul {
        padding-bottom: 3%;
    }

    section h2 {
        font-size: 2.5em;
    }
    section h3 {
        font-size: 2em;
    }

    h1 {
        margin-top: 10%;
        margin-bottom: 2.5%;
    }

    .btn {
        padding-left: 0;
        padding-right: 2%;
        font-size: 2.7em;
    }

    #buttons {
        width: 100%;
        padding-left: 0;
    }

    #title {
        font-size: 3em;
    }

    #release {
        font-size: 2.3em;
    }

    #about {
        width: 45%;
    }

    form {
        width: 40%;
        padding-left: 30%;
    }
    
    form label, form input, form textarea {
        font-size: 1.5em;
        width: 100%;
    }   
}

@media screen and (max-width: 601px) {
    #links a {
        width:300%;
        padding: 5%;
    }

    #links {
        width: 60%;
    }

    ul li a {
        font-size: 5em;
    }
    ul li a:hover {
        font-size:5em;
    }

    ul {
        padding-bottom: 10%;
    }

    section {
        display: flex;
        align-items: center;
    }

    .list-header {
        font-size: .6em;
        padding-bottom: 3%;
    }

    section h2 {
        font-size: 3em;
    }
    section h3 {
        font-size: 2em;
    }

    body {
        width: 100%;
        padding-left: 0%;
    }

    .album {
        padding-left: 0;
    }

    h1 {
        margin-top: 25%;
        margin-bottom: 10%;
    }

    header {
        padding-top: 6%;
    }

    .btn {
        padding-left: 0;
        padding-right: 2%;
        font-size: 2.3em;
        text-align: left;
    }

    #buttons {
        width: 110%;
        padding-left: 3%;
    }

    #title {
        font-size: 3em;
    }

    #release {
        font-size: 2.3em;
    }

    #about {
        width: 55%;
    }

    form {
        width: 50%;
        padding-left: 30%;
    }
    
    form label, form input, form textarea {
        font-size: 2em;
        width: 100%;
    }    
}



